<h1>Task Lists</h1>

<%= form_for(@list) do |f| %>
	<%= f.text_field :name, placeholder: "Make A New List" %>
<% end %>

<ul>
	<% @lists.each do |list| %>
		<li><%= link_to list.name, list_path(list) %></li>
	<% end %>
</ul>

