<h1>Lists Index</h1>

<%= form_for(@list) do |f| %>
	<%= f.text_field :name, placeholder: (@list.errors.full_messages_for(:name).first || 'List Name') %>
<% end %>

<ul>
	<% @lists.each do |list| %>
		<li><%= link_to list.name, list_path(list) %></li>
	<% end %>
</ul>

