<h1>List Show</h1>

<h3><%= @list.name %></h3>
	<%= form_for([@list, @task]) do |f| %> <!-- nested form for task associated with current list-->
		<%= f.text_field :name, placeholder: (@task.errors.full_messages_for(:name).first || 'Task Name') %>
	<% end %>

<ul>
	<% @list.tasks.each do |task| %>
			<%= render partial: "tasks/task_li", locals: {task: task}  %>
	<% end %>
</ul>
