<h1>List Show</h1>

<h3><%= @list.name %></h3>

	<%= form_for([@list, @task]) do |f| %> <!-- nested form for task associated with current list-->
		<%= f.text_field :name, placeholder: (@task.errors.full_messages_for(:name).first || 'Task Name') %>
	<% end %>

<ul>

		<% @list.tasks.each do |task| %>
			<% if task.id %>
				<li>
					<input type="checkbox">
					<%= link_to task.name, task_path(task) %>	
				</li> 
			<% end %>
		<% end %>

</ul>
